
<div class="loginregisterform">
    <div class="containers">
        <div class="form-content" >
         
            <form action="">
                <div class="signup-form ms-4">
                    <div class="title text-center">Signup</div>
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fa fa-user"></i>
                            <input type="text" placeholder="Enter your name">
                        </div>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="email" placeholder="Enter your email">
                        </div>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Enter your password">
                        </div>

                        <div class="input-box">
                            <mat-form-field appearance="fill">
                                <mat-label>Select an option</mat-label>
                                <mat-select disableRipple>
                                  <mat-option value="1">Admin</mat-option>
                                  <mat-option value="2">User</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
            
                        <div class="button input-box">
                           <button type="submit" class="btn submitbtn">Submit</button>
                        </div>
                        <div class="text sign-up-text">
                            <p class="mt-4">Already have an account?<a routerLink="/auth/login">Login now</a></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
      
    
    
    </div>
    
</div>