<app-spinner *ngIf="spinner"></app-spinner>
<div class="container-fluid">
  <div class="d-flex align-items-center justify-content-between searchStyle">
    <div class="card search-input mt-3 me-2" style="margin:16px" >
      <div class="form-groups">
        <!-- <input type="email" class="form-control" id="search-text" aria-describedby="search-text"
          [(ngModel)]="searchText" placeholder="Enter text to search"
          autofocus> -->
          <input type="text" (keyup)="applyFilter($event)" class="form-control"  placeholder="Search here.." #input style="border-radius: 30px;">
          <div class="position-absolute search">
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
      </div>
      <!-- <ul class="list-group list-group-flush d-none">
        <li class="list-group-item" *ngFor="let c of characters | filter: searchText" >
          {{c}}
        </li>
      </ul> -->
    </div>
    <!-- <div class="card mt-3 me-2">
      <div class="form-groups">
        <input  (keyup)="applyFilter($event)" class="form-control"  placeholder="Search Here.." #input>
      <div class="position-absolute search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>

 </div> -->
    <div class="d-flex">
      <button class="btn tablebtn" (click)="openDialog()">Add Project</button>
    </div>
  </div>
  <div class="mt-3 w-100 overflow-scroll table-box">
    <table mat-table [dataSource]="dataSource" matSort >

      <!-- <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Serial No </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}}. </td>
      </ng-container> -->

      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header style="width:15%;"> Client Name </th>
        <td mat-cell *matCellDef="let element" > {{element.clientName}} </td>
      </ng-container>

      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:15%;"> Project Name </th>
        <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
      </ng-container>

      <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
            <td mat-cell *matCellDef="let element"> {{element.startDate | date:'dd MMM y'}} </td>
          </ng-container>

          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
            <td mat-cell *matCellDef="let element"> {{element.endDate | date:'dd MMM y'}} </td>
          </ng-container>
      <!-- <ng-container matColumnDef="EndDate">
            <th mat-header-cell *matHeaderCellDef> EndDate </th>
            <td mat-cell *matCellDef="let element"> {{element.endDate | date:'dd MMM y'}} </td>
          </ng-container>

       <ng-container matColumnDef="ProjectCost">
        <th mat-header-cell *matHeaderCellDef style="width:15%;"> Project Cost(₹) </th>
        <td mat-cell *matCellDef="let element"> {{element.projectCost | filter}} </td>
      </ng-container>

      <ng-container matColumnDef="ProjectType">
        <th mat-header-cell *matHeaderCellDef style="width:15%;"> Project Type </th>
        <td mat-cell *matCellDef="let element"> {{element.projectType}} </td>
      </ng-container> -->
      <!-- <ng-container matColumnDef="ProjectLead">
        <th mat-header-cell *matHeaderCellDef> Project Lead </th>
        <td mat-cell *matCellDef="let element"> {{element.projectLead}} </td>
      </ng-container> -->
      <ng-container matColumnDef="status" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:25%;"> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
      <ng-container matColumnDef="totalResource">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Resources </th>
        <td mat-cell *matCellDef="let element" >
          <div class="resourcescell">
            <span>
              <button class="actionbtn me-2"  style="width:30px;
              height: 20px;" matTooltip="Add Resources" (click)="openResource(element)"><i class="fa fa-plus-circle"  style="color:#146389;"></i>
              </button>
            </span>
            <span class="resourcesno"
             matTooltip="Total Resources - {{element?.ResourceArray?.[0]?.totalResource}}
             &nbsp; Billable Resources -{{element.ResourceArray?.[0]?.BillableNumber}}
             &nbsp; Non-Billable Resources -{{element.ResourceArray?.[0]?.NonBillableNumber}}
            ">
            <div *ngIf="element?.ResourceArray?.length !== 0">
              {{element?.ResourceArray?.[0]?.totalResource}}
            </div>
            <div *ngIf="element?.ResourceArray?.length === 0">
              0
            </div>           </span>
          </div>

         </td>
      </ng-container>
      <!-- <ng-container matColumnDef="TeamLead">
            <th mat-header-cell *matHeaderCellDef> Team Lead </th>
            <td mat-cell *matCellDef="let element"> {{element.teamLead}} </td>
          </ng-container> -->
      <!-- <ng-container matColumnDef="BusinessDevelopmentManager">
            <th mat-header-cell *matHeaderCellDef> BD Manager </th>
            <td mat-cell *matCellDef="let element"> {{element.businessDevelopmentManger}} </td>
          </ng-container> -->
      <!-- <ng-container matColumnDef="Remarks">
            <th mat-header-cell *matHeaderCellDef> Remarks </th>
            <td mat-cell *matCellDef="let element"> {{element.Remarks}} </td>
          </ng-container> -->

      <!-- <ng-container matColumnDef="InvoicedAmount">
            <th mat-header-cell *matHeaderCellDef> Invoiced Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.InvoicedAmount}} </td>
          </ng-container>
          <ng-container matColumnDef="InvoicedPending">
            <th mat-header-cell *matHeaderCellDef> Invoiced Pending </th>
            <td mat-cell *matCellDef="let element"> {{element.InvoicedAmount}} </td>
          </ng-container>
          <ng-container matColumnDef="YetToBeInvoiced">
            <th mat-header-cell *matHeaderCellDef> Yet To Be Invoiced </th>
            <td mat-cell *matCellDef="let element"> {{element.YetToBeInvoiced}} </td>
          </ng-container>
          <ng-container matColumnDef="TotalCost">
            <th mat-header-cell *matHeaderCellDef> Total Cost </th>
            <td mat-cell *matCellDef="let element"> {{element.TotalCost}} </td>
          </ng-container> -->

      <ng-container matColumnDef="Invoice">
        <th mat-header-cell *matHeaderCellDef style="width: 7%;text-align: center;"> Invoice </th>
        <td mat-cell *matCellDef="let element" class="text-center" style="width: 7%">
          <span class="text-center">
            <button class="actionbtn" (click)="openInvoice(element)"><img src="../../../assets/images/receipt.png" alt="" style="width: 20px;
              height: 20px;" matTooltip="Add Invoice"></button>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="Payment">
        <th mat-header-cell *matHeaderCellDef style="width: 5%;"> Payment </th>
        <td mat-cell *matCellDef="let element" class="text-center" >
          <span>
            <button class="actionbtn" (click)="openPayment(element)"><img src="../../../assets/images/cash-payment .png" alt="" matTooltip="Add Payment"></button>
          </span>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="View">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;"> View </th>
        <td mat-cell *matCellDef="let element"  style="width: 10%;">
          <span class="text-center">
            //<a [routerLink]="['/dashboard/invoice']" [routerLinkActive]="['active']" (keydown.escape)="$event.stopPropagation()">
            <button class="actionbtn">
              <i class="fa fa-eye" style="color: #4680e3;" matTooltip="View Project" aria-hidden="true"></i>
            </button>
            </a>//
          </span>
        </td>
      </ng-container> -->
      <td mat-cell *matCellDef="let element"> {{element?.sex}} </td>


      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef   style="width: 15%;padding-left: 31px !important;"> Action </th>
        <td mat-cell *matCellDef="let element" >
          <span class="d-flex">
            <button  class="actionbtn" (click)=" myFunc(element,element?._id)">
             <!-- View -->
             <i class="fa fa-eye" id="view"  matTooltip="View Project" aria-hidden="true"></i>
            </button>

            <!-- <div class="dropdown">
              <button class="dropbtn actionbtn"> <i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #146389;"></i></button>
              <div class="dropdown-content">
                <button class="actionbtn" (click)="editDialog(element)">Edit</button>
                <button class="actionbtn delete" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="getProjectDataToDelete(element)">Delete</button>
              </div>
            </div> -->

            <!-- <div class="dropdown">
              <button class="dropbtn" >
                <i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #146389;"></i></button>
              <div class="dropdown-content" *ngIf="isMenuOpen"  #menu>
                <button class="actionbtn" (click)="editDialog(element)"><i class="fa fa-pencil-square-o"
                  style="color:#461bd0"  matTooltip="Edit Project" aria-hidden="true"></i></button>
                <button class="actionbtn delete" (click)="deleteProjectData(element._id)"><i class="fa fa-trash text-danger"
                    matTooltip="Delete Project" aria-hidden="true"></i></button>
              </div>
            </div> -->
            <button class="actionbtn"(click)="editDialog(element)"><i class="fa fa-pencil-square-o"
              id="view"  matTooltip="Edit Project" aria-hidden="true"></i></button>
            <button class="actionbtn delete" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="getProjectDataToDelete(element)"><i class="fa fa-trash text-danger"
                matTooltip="Delete Project" aria-hidden="true"></i></button>
          </span>
        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator> -->
    <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20 ,100]"
      showFirstLastButtons (page)="getPaginator($event)" aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

  <!-- <div class="table-box-paginator">

  </div> -->
</div>



<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdrop"
aria-hidden="true">
<div class="modal-dialog modal-confirm modal-dialog-centered">
  <div class="modal-content deleteModel">
    <div class="modal-header flex-column">
      <div class="icon-box">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </div>
      <h4 class="modal-title w-100">Are you sure to delete
        <span style="color:red">
          {{ProjectName}}
        </span>
         project?</h4>
      <button type="button" class="btn-close modelCloseBtn" data-bs-dismiss="modal" aria-label="Close" ></button>
    </div>
    <div class="modal-body text-center">
      <p class="modelDeleteMsg"> Do you realy want to delete? This process cannot be undone </p>
      <!-- <span>{{element.projectName}} ?</span> -->
    </div>
    <div class="m-auto mb-4">
      <button type="button" class="btn modelSaveBtn" (click)="deleteProjectData()" data-bs-dismiss="modal">Delete</button>
    </div>

  </div>
</div>
</div>




