table {
    width: 100%;
  }
input{
  border: none;
}
.search{
  top: 8px;
  right: 10px;
}
.actionbtn{
  background: transparent;
  outline: none;
  border: none;
  color: black;
}
#view{
   color: #146389;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 0px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  cursor: pointer;
  position: absolute;
  background-color: #e1eaef;
  min-width: 100%;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 11%);
  z-index: 6000000000000000;
  border-radius: 10px;
  left: -20px;
  padding: 5px 15px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */
.menu{
  padding: 15px 35px;
  box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width:100%;
  background: white;
  }
.modal-confirm{
  color: #636363;
}
.modal-confirm .modal-content{
  padding: 20px;
  border-radius: 5px;
  border:none;
  text-align: center;
  font-size: 14px;
}
.modal-confirm .modal-header{
  border-bottom: none;
  position: relative;
}
.modal-confirm h4{
  text-align: center;
  font-size: 26px;
  line-height: 2rem;
  margin:30px 0px 0px;
}
.modal-confirm .modelCloseBtn{
  position: absolute;
  top: -5px;
  right: -2px;
}
.modal-confirm .modal-body{
  color: #999;
}
.modal-confirm .icon-box{
  width: 80px;
  height: 80px;
  margin: 25px auto 0px;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i{
  font-size: 46px;
  color: #f15e5e;
  display: inline-block;
  margin: 13px 0px 0px;
}
.modelSaveBtn{
  background-color: #ff9800;
  color: white;
  padding: 8px 15px;
}
.resourcescell{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.resourcesno{
  background: #146389;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
