<app-spinner *ngIf="spinner"></app-spinner>

<div class="sticky-top bg-white p-4">
  <div mat-dialog-title class="float-end" mat-dialog-close (click)="cancel()"><i class="fa fa-times" aria-hidden="true"></i></div>
<h1 mat-dialog-title class="title text-center fw-bold mb-0" style="color: #13357b;">Add Project</h1>
<!-- <div class="line"></div> -->
</div>
<div class="container-fluid">
   <div class="form  p-4">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width addproject" panelclass="addproject" appearance="outline">
              <mat-label>Project Name</mat-label>
              <input matInput placeholder="Enter the Project Name" formControlName="projectName">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width addproject" panelclass="addproject" appearance="outline">
              <mat-label>ClientName</mat-label>
              <input matInput placeholder="Enter full name" formControlName="clientName">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width addproject" panelclass="addproject" appearance="outline">
              <mat-label>Project Cost</mat-label>
              <input matInput placeholder="Enter the project Cost" type="number" formControlName="projectCost">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width addproject" panelclass="addproject" appearance="outline">
              <mat-label>Project Type</mat-label>
              <mat-select disableRipple formControlName="projectType">
                <mat-option value="Fixed Bid">Fixed Bid</mat-option>
              <mat-option value="Time & Material">Time & Material</mat-option>
            </mat-select>
          </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width projectdate" appearance="outline">
              <mat-label >Start Date</mat-label>
                  <input  matInput  [matDatepicker]="startdatepicker" [min]="minDate" [max]="todayDate"
                     formControlName="startDate"  placeholder="MM/DD/YYYY">
                  <mat-datepicker-toggle matSuffix [for]="startdatepicker"
                    (click)="startdatepicker.open()"></mat-datepicker-toggle>
                  <mat-datepicker #startdatepicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width projectdate" appearance="outline">
              <mat-label>End Date</mat-label>
              <input  matInput  [matDatepicker]="stopdatepicker"
                 formControlName="endDate"  placeholder="MM/DD/YYYY">
              <mat-datepicker-toggle matSuffix [for]="stopdatepicker"
                (click)="stopdatepicker.open()"></mat-datepicker-toggle>
              <mat-datepicker #stopdatepicker></mat-datepicker>
           </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <!-- <mat-form-field class="example-full-width addproject" panelclass="addproject" appearance="outline">
              <mat-label>Project Lead</mat-label>
              <mat-select disableRipple formControlName="projectLead">
                <mat-option value="Payyavula Rajasekhar">Payyavula Rajasekhar</mat-option>
                <mat-option value="Rakesh N">Rakesh N</mat-option>
                <mat-option value="Chandan K">Chandan K</mat-option>
              </mat-select>
            </mat-form-field> -->
            <mat-form-field class="example-full-width addproject" panelclass="addproject" appearance="outline">
              <mat-label>Project Lead</mat-label>
              <input type="text"
                     placeholder="Pick one"
                     aria-label="Number"
                     matInput
                     [formControl]="myControl"  (input)="onInputChange($event)"  (keyup.enter)="additionalData()" formControlName="projectLead"
                     [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="ChangedEvent($event)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <!-- <mat-form-field class="example-full-width addproject" panelClass="addproject" appearance="outline">
              <mat-label>Project Manager</mat-label>
              <mat-select disableRipple formControlName="projectManager">
                <mat-option value="Veerabhadra Swamy B">Veerabhadra Swamy B</mat-option>
              </mat-select>
            </mat-form-field> -->

            <mat-form-field class="example-full-width addproject" panelclass="addproject" appearance="outline">
              <mat-label>Project Manager</mat-label>
              <input type="text"
                     placeholder="Pick one"
                     matInput
                     [formControl]="myControls"  (input)="onInputChanged($event)"  (keyup.enter)="additionalDatas()" formControlName="projectManager"
                     [matAutocomplete]="auto1">
              <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" (optionSelected)="ChangedEvents($event)">
                <mat-option *ngFor="let option of filteredOptions1 | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width addproject" panelclass="addproject" appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select disableRipple formControlName="status">
                <mat-option value="Yet to Start">Yet to Start</mat-option>
                <mat-option value="InProgress">InProgress</mat-option>
                <mat-option value="Closed">Closed</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width addproject" panelClass="addproject" appearance="outline">
              <mat-label>Team Lead</mat-label>
              <input matInput placeholder="Enter the teamLead" formControlName="teamLead">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width addproject" panelClass="addproject" appearance="outline">
              <mat-label>Business Development Manager</mat-label>
              <input matInput placeholder="Enter the Business Development Manager" formControlName="businessDevelopmentManger">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width addproject" panelClass="addproject" appearance="outline">
              <mat-label>Remarks</mat-label>
              <input matInput  formControlName="Remarks">
            </mat-form-field>
          </div>
        </div>
      </div>
      <hr>
      <div class="milestone-details">
        <h1 class="mat-dialog-title">MileStone Details</h1>
       <div>
          <div formArrayName="milestoneArray" *ngFor="let sup of getSupp.controls; let i = index">
            <mat-card class="mt-3">
            <div  class="row" [formGroupName]="i">
              <div class="col-md-10">
                <div class="row">
                 <div class="col-md-4">
                   <div class="form-group">
                     <mat-form-field class="example-full-width addproject" panelClass="addproject" appearance="outline">
                       <mat-label>Milestone</mat-label>
                       <input matInput  formControlName="milestone">
                     </mat-form-field>
                   </div>
                 </div>
                 <div class="col-md-4">
                   <div class="form-group">
                     <mat-form-field class="example-full-width addproject" panelClass="addproject" appearance="outline">
                       <mat-label>Payment Percent %</mat-label>
                       <input matInput  numberOnly (input)="paymentInputChanged($event,i)" formControlName="paymentPercent">
                     </mat-form-field>
                     <!-- <mat-error *ngIf="getSupp.controls[i].get('paymentPercent')?.invalid&&getSupp.controls[i].get('paymentPercent')?.touched">
                         Please Enter the percentage Value lesser than 100%
                     </mat-error> -->

                     <!-- <mat-error *ngIf="sup.get('paymentPercent')?.hasError('percentageExceeded') && sup.get('paymentPercent')?.dirty">
                      Percentage cannot exceed 100%
                     </mat-error> -->

                     <div *ngIf="projectForm.errors?.['sumExceeded']">Sum of fields exceeds 100</div>

                   </div>
                 </div>
                 <div class="col-md-4">
                   <div class="form-group">
                     <mat-form-field class="example-full-width addproject" panelClass="addproject" appearance="outline">
                       <mat-label>Milestone Details</mat-label>
                       <input matInput  formControlName="milestonedetails">
                     </mat-form-field>
                   </div>
                 </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <mat-form-field class="example-full-width projectdate" appearance="outline">
                        <mat-label >Start Date</mat-label>
                            <input  matInput  [matDatepicker]="startpicker" [min]="minDate" [max]="todayDate"
                               formControlName="startMileStoneDate"  placeholder="MM/DD/YYYY">
                            <mat-datepicker-toggle matSuffix [for]="startpicker"
                              (click)="startpicker.open()"></mat-datepicker-toggle>
                            <mat-datepicker #startpicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <mat-form-field class="example-full-width projectdate" appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input  matInput  [matDatepicker]="stoppicker"
                           formControlName="endMileStoneDate"  placeholder="MM/DD/YYYY">
                        <mat-datepicker-toggle matSuffix [for]="stoppicker"
                          (click)="stoppicker.open()"></mat-datepicker-toggle>
                        <mat-datepicker #stoppicker></mat-datepicker>
                     </mat-form-field>
                    </div>
                  </div>

                 </div>
                 </div>
                 <div class="col-md-2">
                  <div class="d-flex align-items-center">
                    <div class="icon m-2" (click)="addMilestone()"   [ngClass]="{'invisible':i!=getSupp.controls.length-1}">
                      <i class="fa fa-plus-circle" matTooltip="Add MilestoneDetails" aria-hidden="true" style="color: #146389;"></i>
                    </div>
                    <div class="icon m-2"  (click)="removeMileStone(i)" [ngClass]="{'invisible':i==0}" >
                      <i class="fa fa-trash text-danger"
                        matTooltip="Delete MilestoneDetails" aria-hidden="true"></i>
                    </div>
                  </div>
                 </div>
            </div>
          </mat-card>
          </div>
       </div>
      </div>
      <div class="form-group text-end">
        <button class="btn modalbtn" type="submit" [disabled]="projectForm.invalid" >Submit</button>
      </div>

   </form>
  </div>
</div>
