table {
  width: 100%;
}
input{
border: none;
}
.search{
top: 8px;
right: 10px;
}
.btn{
background: #7d2ae8;
margin: 20px 0px;
color: white;
padding: 8px 30px;
font-size: 14px;
font-weight: 500;
}
.actionbtn{
  background: transparent;
  outline: none;
  border: none;
}